{% comment %}
Component: related-grid.html
Input: related_items (Array)
{% endcomment %}

{% assign total_items = related_items.size %}

<aside class="related my-5" aria-label="延伸阅读">
  {% if total_items == 1 %}
  {% include _card.html item=related_items.first horizontal=true %}
  {% else %}
  <div class="row g-4 justify-content-center">
    {% for item in related_items %}
    <div class="col-12 col-md-6">
      {% include _card.html item=item %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</aside>
