{% comment %}
直接从 site.collections 中查找 tag 存在于当前 page.tags 中的页面
{% endcomment %}

{% assign linked_trip = site.trips | where_exp: "item", "page.tags contains item.tag" | first %}
{% assign linked_dest = site.destinations | where_exp: "item", "page.tags contains item.tag" | first %}

{% if linked_trip or linked_dest %}
<aside class="bg-body-tertiary p-3 my-5" aria-label="相关的旅行和目的地">
  <h2 class="my-4">旅行和目的地</h2>
  <div class="row g-3">
    {% if linked_trip %}
    <div class="col-12 col-md-6">
      {% 
        include card-common.html 
        target = linked_trip 
        itemprop = "relatedLink" 
        kicker = "旅行"
      %}
    </div>
    {% endif %}

    {% if linked_dest %}
    <div class="col-12 col-md-6">
      {% 
        include card-common.html
        target = linked_dest
        kicker = "目的地"
      %}
    </div>
    {% endif %}
  </div>
</aside>
{% endif %}