.journey-timeline {
    margin: 2rem auto;
    width: 50rem;
    font-size: 1em;
    line-height: 1.5em;

    ul.legs {
        padding: 0;
        list-style-type: none;

        li.leg {

            .leg-stop {
                display: flex;

                .leg-stop-separator {
                    width: 1rem;
                    height: 1rem;
                    margin: auto 1rem;
                    border-radius: 50%;
                    background-color: #f44336;
                }

                .leg-stop-datatime {
                    width: 15rem;
                    font-weight: bold;
                    text-align: right;
                }

                .leg-stop-name {
                    font-weight: bold;
                }
            }

            .leg-content {
                display: flex;
                margin: 0.25rem 0;

                .leg-content-separator {
                    width: 1rem;
                    margin: 0 1rem;
                    display: flex;

                    .vertical-bar {
                        margin: 0 auto;
                        width: 3px;
                        border-left: 3px dotted #f44336;
                    }
                }

                .leg-content-left {
                    width: 15rem;
                    text-align: right;
                    padding: 1rem 0;

                    .leg-duration {
                        color: #9e9e9e;
                        font-style: italic;
                    }
                }

                .leg-content-right {
                    padding: 1rem 0;

                    .route-agency-name {
                        font-weight: bold;                        
                    }

                    .route-name {
                        font-weight: bold;
                        color: #ffffff;
                        background-color: #f44336;
                        border-radius: 3px;
                        padding: 0.25rem 1rem;
                    }
                }
            }


        }
    }
}