.text-shadow-4 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

.text-shadow-3 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

.text-shadow-2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}