@import "journey-timeline.css";

body {
    font-family: Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1,
.h1 {
    margin-top: 0;
}

article {
    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: orange;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
    }
}

footer {
    background-color: #37474F;
    color: #B0BEC5;
}

blockquote {
    padding: 1em;
}

blockquote p:last-child {
    margin-bottom: 0;
}

/* Adjust the appearance of Bootstrap's navbar-toggler */
.navbar-toggler {
    padding: 4px 6px;
}

/* hide the dark-theme element by default */
.dark-theme {
  display: none;
}

/* when the data-bs-theme is 'dark', swap visibility */
[data-bs-theme="dark"] .light-theme {
  display: none;
}

[data-bs-theme="dark"] .dark-theme {
  display: block;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-float {
    /* the animation does not apply to non-replaced inline elements */
    display: block;
    /* apply the animation */
    animation: float 2s ease-in-out infinite;
    /* add subtle shadow for definition */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

/*
    site footer
 */
#site-footer {
    background-color: var(--bs-gray-700); 
    color: var(--bs-white);
}

.post h1 {
    /* h1 in a post always has subtitle or time right below it */
    margin-bottom: 0.25em;
}

.collection {

    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-content: center;
        justify-content: center;

        .hero-image-div {
            grid-area: 1 / 1 / 2 / 2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hero-text-div {
            grid-area: 1 / 1 / 2 / 2;

            display: grid;
            align-items: center;
            text-align: center;
            color: white;

            h1 {
                text-shadow: 2px 2px #000;
            }

            p {
                text-align: center;
                color: white;
                text-shadow: 1px 1px #000;
            }
        }
    }
}