body {
    font-family: Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 300;
    color: #263238;
    background-color: #37474F;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type,
h6:first-of-type,
.h1:first-of-type,
.h2:first-of-type,
.h3:first-of-type,
.h4:first-of-type,
.h5:first-of-type,
.h6:first-of-type {
    margin-top: 0;
}

header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F3F2EB;
    font-weight: 400;
}

main {
    background-color: #F3F2EB;
}

footer {
    background-color: #37474F;
    color: #B0BEC5;
}

.home section {
    padding-top: 24px;
    padding-bottom: 24px;
}

.home section.cover h3 {
    color: #E65100;
}

