---
layout: default
---
<div class="home container">

  {{ content }}

  <section class="cover row position-relative">
    <div class="col col-12 col-lg-4 align-self-center">
      <h1 class="mb-3">斯堪的纳维亚之旅</h1>
      <p>
        渴望挪威的峡湾徒步已久, 这次我们终于有机会来一次斯堪的纳维亚 (Scandinavia) 之旅.
        这次旅行的重点是挪威的峡湾徒步和特罗姆瑟 (Tromsø) 的日不落马拉松 (Midnight Sun
        Marathon). 顺路打卡丹麦的哥本哈根和瑞典的斯德哥尔摩.</p>
      <p>
        <a href="{% post_url 2024-05-27-scandinavia %}" class="btn btn-outline-dark stretched-link">去看看</a>
      </p>
    </div>
    <div class="col col-12 col-lg-8">
      <img src="{{ '/assets/images/2024/scandinavia/scandinavia/cover.png' | relative_url }}"
        class="img-fluid rounded-3" alt="...">
    </div>
  </section>

  {%- if site.posts.size > 0 -%}
  <section class="post-list latest my-3">

    <h4 class="text-center my-5"><a href="{{ '/posts' | relative_url }}"
        class="link-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-75-hover">最新博客文章</a></h4>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
      {%- for post in site.posts limit:4 -%}
      <div class="col">
        {% include post-card.html post = post %}
      </div>
      {%- endfor -%}
    </div>
  </section>
  {%- endif -%}

  {%- if site.tags["精选"] -%}
  {%- assign posts = site.tags["精选"] -%}
  <section class="post-list featured my-3">

    <h4 class="text-center my-5">
      <a href="{{ '/posts' | relative_url }}"
        class="link-dark link-offset-2-hover link-underline-opacity-0 link-underline-opacity-75-hover">精选博客文章</a>
    </h4>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
      {%- for post in posts -%}
      <div class="col">
        {% include post-card.html post = post %}
      </div>
      {%- endfor -%}
    </div>
  </section>
  {% endif %}

</div>