---
layout: default
---
<div class="post-list container">
  {%- if page.title -%}
  <h2>{{ page.title | escape }}</h2>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-3">
    {%- for post in site.posts -%}
    <div class="col">
      <div class="card h-100">
        {%- if post.thumbnail -%}
        <img src="{{ post.thumbnail | relative_url }}" class="img-fluid" alt="{{ post.title | escape }}">
        {%- else -%}
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#E8F5E9"></rect>
        </svg>
        {%- endif -%}
        <div class="card-body">
          {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
          <p class="card-text">
            <small class="text-body-secondary">
              {{ post.date | date: date_format }}
            </small>
          </p>
          <h5 class="post-title card-title">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h5>
          {%- if post.subtitle -%}
          <p class="post-subtitle card-text">
            {{ post.subtitle | escape }}
          </p>
          {%- endif -%}
          {%- if site.show_excerpts -%}
          <p class="post-excerpt card-text">
            {{ post.excerpt }}
          </p>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
  {%- endif -%}

</div>